<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock styles %}

{% block scripts %}<script src="{% static 'js/art.js' %}"></script>{% endblock scripts %}

{% block nav-contact %}active{% endblock %}

{% block title %} | Contact{% endblock %}

{% block banner %}
<div class="medium-banner-container">
  <img class="medium-banner" src="{% static 'media/banner_test.png' %}">
</div>
{% endblock banner %}

{% block banner-text %}
<div class="medium-banner-text">
  <h1>Contact Me</h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="section-head">I look forward to hearing from you!</div>
    </div>
    <div class="col">
      <div class="contact" style='text-align: center'>
        Email me anytime at
         <b><span>.</span><span>o</span><span>?</span><span>h</span><span>r</span><span>k</span><span>fg</span><span>a</span><span>k</span><span>w</span><span>p</span><span>a</span><span>s</span><span>2</span><span>l</span><span>.</span><span>g</span><span>0</span><span>m</span><span>@</span><span>@</span><span>g</span><span>x</span><span>m</span><span>i</span><span>a</span><span>e</span><span>i</span><span>d</span><span>l</span><span>l</span><span>.</span><span>w</span><span>c</span><span>m</span><span>o</span><span>z</span><span>m</span></b>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <img class="divider" src="{% static 'media/divider.png' %}">
  </div>

</div>
{% endblock %}
