## Ignore media files

media/

## Ignore migrations/database

*/migrations/*
db.sqlite3
*/__pycache__/*
static/media/*
static/files/*
static/art/*
static/cdn/*
programming/templatetags/__pycache__/
*/*/migrations/*