<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block title %} | About{% endblock %}
{% block nav-home %}active{% endblock %}
{% block content %}
<div class="banner-text">
  Condensed description/tagline<br>
  Second line
</div>
<div class="container">
  <div class="row">
    <div class="col section-head">About</div>
  </div>
  <div class="row">
    <div class="section-body">
      My name is Kayko Ohkawa.
    </div>
  </div>
  <div class="row">
    <div class="col section-head"><a name="contact">Contact</a></div>
  </div>
  <div class="row">
    <div class="section-body">
      ohkawa 2 dot 0 at gmail dot com
    </div>
  </div>
</div>
{% endblock %}
