.tab-bar {
  width: 100%;
  padding-bottom: 0.5rem;
}

.nav-tab {
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 1rem;
  color: #787878;
  width: 100%;
  border-bottom: 2px solid #a4bfba;
}

.nav-tab:hover, .nav-tab:focus {
  color: #1c1c1c;
  text-decoration: none;
  border-bottom: 2px solid #0a483b;
}

.nav-tab.active {
  color: #1c1c1c;
  font-weight: 600;
  border-bottom: 2px solid #0a483b;
}

.gallery-nav-item {
  padding-top: 0.75rem;
  padding-bottom: 1.5rem;
}

.gallery {
  padding: 0px;
}

.tab-pane {
  background-color: #d1d1c5;
  padding: 1.25rem;
  border-radius: 0.3rem;
}

.tab-body {
  font-size: 1rem;
}

@media (min-width: 24rem) {
    .card-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
}

@media (min-width: 36rem) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
}

@media (min-width: 48rem) {
    .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
}

a {
  cursor: pointer;
}

.card:hover .card-img {
  opacity: 0.6;
  transition: .5s ease;
}

.card-overlay {
  background-color: #e3e3da;
  opacity: 0.8;
  padding: 1rem;
  border-radius: 0.25rem;
}

.card-title {
  font-size: 1.1rem;
  margin-bottom: 0px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 1.5rem 1.5rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.65);
}

.modal-fade {

}

.close {
  color: #adad9a;
  position: absolute;
  top: 10px;
  right: 22px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #f2f2f2;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.30);
}

.modal-content-top {
  position: relative;
  background-color: #242424;
  margin: auto;
  padding: 0;
  width: 100%;
  border-radius: 0.3rem;
}

.modal-content-bottom {
  position: relative;
  margin: auto;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  border-radius: 0.3rem;
  background-color: #e3e3da;
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #adad9a;
  background-color: rgba(0, 0, 0, 0.20);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.70);
  color: #e3e3da;
  text-decoration: none;
}

.slide-img-container {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-img {
  max-height: 650px;
  max-width: 100%;
  margin: auto;
}

.caption-container {
  background-color: #d1d1c5;
  color: #1c1c1c;
  border-radius: 0.3rem;
  padding: 1rem;
  margin-top: 1.25rem;
  text-align: left;
}

.title-container {
  display: inline-block;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  max-width: 100%;
}

.date-container {
  padding-top: 0.5rem;
  text-align: right;
  font-size: 0.9rem;
}
