.contact {
  text-align: center;

}
.contact span:nth-child(2n + 1){
	display: none;
}

h1 {

}

.noto {
  font-family: 'Noto Sans JP', sans-serif;
}

.mont {
  font-family: 'Montserrat', sans-serif;
}
