.download-bar {
  padding: 10px;
}

.download-button {
  display: flex;
  height: 120px;
  width: 80%;
  margin: 5px auto 10px auto;
  border-radius: 15px;
  border: 2px solid #0a483b;
  background-color: rgba(0, 0, 0, 0);
  color: #0a483b;
  font-size: 1.1rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.download-button:hover {
  background-color: #0a483b;
  color: #e3e3da;
}

ul {
  margin-block-end: 0px;
  list-style-type: square;
  padding-left: 1.5rem;
}

p {
  text-indent: 0px !important;
  margin: 0px;
}

.cv-title {
  font-size: 1.6rem;
}

.cv-head {
  font-size: 1.25rem;
  font-weight: 600;
}

.cv-body {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
  line-height: 1.75rem;
}

.cv-set {
  margin-top: 0.75rem;
}

.fa-link {
  font-size: 0.75rem;
  color: #787878;
}
