/*
THEME COLORS
  color-white           #f2f2f2
  color-offwhite        #e3e3da
  color-offwhite2       #d1d1c5
  color-offwhite3       #c7c7b5
  color-offwhite4       #adad9a
  color-black           #2e2e2e
  color-darkblack       #242424
  text-color-lightgrey  #c2c2c2
  text-color-grey       #ababab
  text-color-darkgrey   #787878
  accent-color          #0a483b
  accent-light          #065c4a
  accent-fade           #a4bfba
*/

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #e3e3da;
}

::-webkit-scrollbar-thumb {
  background: #c7c7b5;
}

::-webkit-scrollbar-thumb:hover {
  background: #adad9a;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #2e2e2e;
  background-color: #e3e3da;
}

.noto {
  font-family: 'Noto Sans JP', sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

b {
  font-weight: 600;
}

.large-banner-container {
  position: absolute;
  width: 100%;
  height: 500px;
}

.large-banner {
  object-fit: cover;
  height: 500px;
  width: 100%;
}

.large-banner-text {
  color: #e3e3da;
  width: 100%;
  height: 420px;
  padding-top: 132px;
  margin-bottom: 88px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.medium-banner-container {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.medium-banner {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.medium-banner-text {
  color: #e3e3da;
  width: 100%;
  height: 220px;
  padding-top: 132px;
  margin-bottom: 88px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  padding: 15px 0px !important;
  position: fixed !important;
  z-index: 1;
 	-webkit-transition: all 0.4s ease;
 	transition: all 0.4s ease;
}

#logo {
  max-height: 3rem;
  border-radius: 50%;
  margin-left: 5px;
}

.nav-item {
  font-size: 1.05rem;
  margin: 0px 0.5rem;
}

.navbar-logo {
  margin-right: 0rem;
}

.navbar-collapse.in {
  background-color: rgba(0, 0, 0, 0.45);
}

#avatar {
  border-radius: 50%;
  display: block;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
}

.fa-icon {
  font-size: 2rem;
}

.section-head {
  /* font-size: 1.25rem;
  font-weight: bold; */
  text-align: center;
  margin: 1rem 0px;
}

.section-body{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.section-body p {
  text-indent: 50px;
}

.divider {
  max-width: 95%;
  padding: 0.5rem 1rem;
}

.hobby-col {
  padding-right: 5px;
  padding-left: 5px;
  max-width: 25%;
}

.hobby-pic {
  border-radius: 0.3rem;
  max-height: 250px;
  width: auto;
  /* max-width: 23%; */
  height: auto;
  transition: transform .2s;
}

.hobby-pic:hover {
  transform: scale(1.05);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.45);
}

#art-pic {
  border-radius: 0.3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 250px;
  transition: transform .2s;
}

a {
  color: #2e2e2e;
}

a:hover {
  color: #0a483b;
  text-decoration: none;
}

.foot {
  text-align: right;
  font-weight: 300;
  font-size: 0.8rem;
  padding: 30px 10px 10px 10px;
}

/* The darkmode switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 7px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #adad9a;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #e3e3da;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0a483b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0a483b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round{
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider::before {
  background-size: contain;
  background-image:url("../media/moon.png");
}

.btn-custom {
  background-color: #0a483b;
  border-color: #0a483b;
  color: #e3e3da;
}

.btn-custom:hover {
  background-color: #065c4a;
  color: #e3e3da;
}

.btn-custom-inv {
  /* background-color: #f2f2f2; */
  background-color: rgba(0, 0, 0, 0);
  border-color: #0a483b;
  color: #0a483b;
}

.btn-custom-inv:hover, .btn-custom-inv:active {
  background-color: #0a483b;
  color: #e3e3da;
}

#search {
  align-items: right;
}

.contact span:nth-child(2n + 1){
	display: none;
}
