div {
  font-family: 'Noto Sans JP', sans-serif;
}

.large-banner-container {
  position: absolute;
  width: 100%;
  height: 500px;
  z-index: -1;
}

.large-banner {
  object-fit: cover;
  height: 500px;
  width: 100%;
}

.large-banner-text {
  color: white;
  width: 100%;
  height: 420px;
  padding-top: 132px;
  margin-bottom: 88px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 3rem;
}

.medium-banner-container {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.medium-banner {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.medium-banner-text {
  color: white;
  width: 100%;
  height: 220px;
  padding-top: 132px;
  margin-bottom: 88px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 3rem;
}

nav {
  /* background-color: #237991; */
  /* background-color: #0a483b; */
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  padding: 15px 0px !important;
  position: fixed !important;
  z-index: 1;
 	-webkit-transition: all 0.4s ease;
 	transition: all 0.4s ease;
}

#logo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.nav-item {
  font-size: 1.15rem;
  margin: 0px 0.5rem;
}

.navbar-logo {
  margin-right: 0rem;
}

.navbar-collapse.in {
  background-color: rgba(0, 0, 0, 0.35);
}

#avatar {
  border-radius: 50%;
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.fa-icon {
  font-size: 2rem;
}

.section-head {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0px;
}

.section-body {
  font-size: 1.25rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  line-height: 1.75;
}

.foot {
  text-align: right;
  font-size: 0.8rem;
  padding: 30px 10px 10px 10px;
}

/* The darkmode switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 7px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darkgrey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0a483b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0a483b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round{
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
