.banner-container {
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: -1;
}

.banner {
  object-fit: cover;
  height: 600px;
  width: 100%;
}

.banner-text {
  color: white;
  width: 100%;
  top: 50%;
  height: 520px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 3rem;
}

.nav-item {
  font-size: 110%;
  margin: 0px 0.5rem 0px 0.5rem;
}

.navbar-brand {
  margin-right: 0rem;
}

.navbar {
  /* background-color: #237991; */
  /* background-color: #0a483b; */
  background-color: rgba(0, 0, 0, 0.35);
  top: 0px;
  height: 80px;
}

.fa {
  font-size: 1.75rem;
}

#logo {
  width: 3rem;
  height: 3rem;
}

#avatar {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-head {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0px 1rem 0px;
}

.section-body {
  font-size: 1.25rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.foot {
  text-align: center;
  font-size: 1rem;
}
