
.tab-box {
  width: 100%;
  border: 2px solid #0a483b;
  border-radius: 10px;
  padding: 10px;
}

.nav-tab {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0rem;
  color: grey;
  width: 100%;
  border-bottom: black;
}

.nav-tab:hover {
  color:black;
  text-decoration: none;
}

.tab-body {
  font-size: 1rem;
}

.console-display {
  font-family: 'Courier New';
   line-height: normal;
}

.divided {
  display: flex;
}

.divider {
  border-bottom: 1px solid #0a483b;
  margin: 1px;
  width: 100%;
}

.section-head {
  font-size: 1.25rem;
  margin: 0px;
}

.section-body {
  font-size: 1rem;
  margin: .75rem 0px;
  width: 100%;
}

.btn-custom {
  background-color: #0a483b;
  border-color: #0a483b;
}

.btn-custom-inv {
  background-color: white;
  border-color: #0a483b;
  color: #0a483b;
}

.btn-custom-inv:hover {
  background-color: #0a483b;
  color: white;
}

.nav-tab.active {
  color: black;
  font-weight: bold;
}
