.tab-box {
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.padded {
  padding: 0.5rem;
}

.intro {
  background-color: #d1d1c5;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 0px;
}

.nav-tab {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0rem;
  color: #787878;
  width: 100%;
  border-left: 2px solid #a4bfba;
}

.nav-tab:hover, .nav-tab:focus {
  color: #1c1c1c;
  text-decoration: none;
  border-left: 2px solid #0a483b;
}

.nav-tab.active {
  color: #1c1c1c;
  font-weight: 600;
  border-left: 2px solid #0a483b;
}

.sub {
  margin-left: 2rem;
}

.tab-body {
  background-color: #d1d1c5;
  padding: 1rem;
  border-radius: 0.25rem;
}

@media (min-width: 34rem) {
    .card-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
}

@media (min-width: 48rem) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
}

@media (min-width: 62rem) {
    .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
}

a {
  cursor: pointer;
}

.card {
  background-color: #e3e3da;
  border: 2px solid transparent;
}

.card:hover {
  border: 2px solid #0a483b;
}

.card-title {
  font-weight: 700;
  text-align: center;
}

.demo {
  padding-top: 1rem;
}

.console-display {
  font-family: 'Courier New';
  line-height: normal;
}

.error-display {
  color: red;
  margin-top: 1rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 1.5rem 1.5rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.modal-fade {
}

.close {
  color: #adad9a;
  position: absolute;
  top: 10px;
  right: 22px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #f2f2f2;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  width: 100%;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  margin: 0px;
  background-color: #242424;
}

.title-display {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
}

.code-display {
  background-color: #e3e3da;
  padding: 1rem;
  border-radius: 0.3rem;
  overflow: auto;
  max-height: 800px;
}
