<div>
  <div class="row">
    <div class="col">
      <div id="description">
        <div class="section-head">
          Hangman
        </div>
        <div class="section-body">
          Hangman is a paper and pencil guessing game for two or more players. One player thinks of a word, phrase or sentence and the other(s) tries to guess it by suggesting letters before the man is "hanged".
        </div>
      </div>
      <div class="divider"></div>
      <div class="section-body d-flex justify-content-center">
        <button id="hangman-start" class="btn btn-info btn-custom">Start a New Game</button>
      </div>
      <div class="divider"></div>
      <div id="hangman-display" class="section-body"></div>
      <div id="hangman-results" class="section-body"></div>
      <div class="d-flex justify-content-center">
        <div id="hangman-input" class="input-group"></div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#hangman-start').click(function() {
      // read dictionary doc and select a word
      // var dictionary = new XMLHttpRequest();
      // dictionary.open("GET", readTextFile("file:///C:/Users/ohkaw/Documents/dictionary.txt"), false);
      // dictionary.onreadystatechange = function() {
      //   if (dictionary.readyState === 4) {
      //     if (dictionary.status === 200 || dictionary.status == 0) {
      //       var allText = dictionary.responseText;
      //       alert(allText);
      //     };
      //   };
      // };
      // dictionary.send(null);
      // $.load("C:/Users/ohkaw/Documents/dictionary.txt", {name})

      var body_comp = ["o", "|", "\\", "/", "/", "\\"];
      var body = [" ", " ", " ", " ", " ", " "];
      var gallows = ["    ____      <br>",
                     "   |    |     <br>",
                     "   |    " + body[0] + "      <br>",
                     "   |   " + body[2] + body[1] + body[3] + "   <br>",
                     "   |    " + body[1] + "      <br>",
                     "   |   " + body[4] + " " + body[5] + "   <br>",
                     "  _|_         <br>",
                     " |   |______  <br>",
                     " |          | <br>",
                     " |__________| "];
      var gallows_html = "<div style='text-align:center; font-family: 'Lucida Console', monospace; line-height: normal;'>";
      console.log(gallows.length)
      for (var i = 0; i < gallows.length; i++) {
        gallows[i] = gallows[i].replaceAll(" ", "&#160;")
        gallows_html += gallows[i]
      };
      gallows_html += "</div>";
      $("#hangman-display").html(gallows);

      // show input section
      var inputButton = "<input type='text' placeholder='Enter a letter'></input><div class='input-group-append'><button id='hangman-run' class='btn btn-info btn-custom'>Guess</button></div>";
      $("#hangman-input").html(inputButton);
      // use input
      // }
    });
    $("#hangman-run").click(function() {
      let userInput = $("#hangman-run").find("input").val().trim();
    });
  });
</script>
