{% extends "base.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'css/programs.css' %}">{% endblock styles %}

{% block scripts %}
{% endblock scripts %}

{% block nav-programming %}active{% endblock %}

{% block title %} | Programming{% endblock %}

{% block banner %}
<div class="medium-banner-container">
  <img class="medium-banner" src="{% static 'media/banner_test.png' %}">
</div>
{% endblock banner %}

{% block banner-text %}
<div class="medium-banner-text">
  Coding and Programs
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-3" style="padding: 10px 10px;">
      <div class="tab-box">
        <div class="align-items-start">
          <div class="nav navbar-dark navbar-expand-lg flex-column me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-tab active" id="v-pills-all-tab" data-toggle="tab" href="#show-all" role="tab" aria-controls="show-all" aria-selected="true">Show All</a>
            <div class="divider"></div>
            {% for i in programs %}
              <div class="divider"></div>
              <a class="nav-tab" id="nav-{{i|cut:" "}}-tab" data-toggle="tab" href="#{{i.name|cut:" "}}" role="tab" aria-controls="nav-{{i|cut:" "}}" aria-selected="false">{{i}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9" style="padding: 10px 5px;">
      <div class="tab-content tab-body" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="show-all" role="tabpanel" aria-labelledby="show-all-tab">
          <form id="search" class="form-inline my-2 my-lg-0 float-right">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-custom-inv my-2 my-sm-0" type="submit">Search</button>
          </form>
          item1
        </div>
        {% for i in programs %}
          <div class="tab-pane fade" id="{{i|cut:" "}}" role="tabpanel" aria-labelledby="{{i|cut:" "}}-tab">
            <div class="tab-box">
              {% include i.html %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
