{% extends "base.html" %}
{% load static %}
{% load extra_tags %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'css/programs.css' %}">{% endblock styles %}

{% block scripts %}<script src="{% static 'js/programs.js' %}"></script>{% endblock scripts %}

{% block nav-programming %}active{% endblock %}

{% block title %} | Programming{% endblock %}

{% block banner %}
<div class="medium-banner-container">
  <img class="medium-banner" src="{% static 'media/banner_test.png' %}">
</div>
{% endblock banner %}

{% block banner-text %}
<div class="medium-banner-text">
  <h1>Coding and Programs</h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row padded">
    <div class="col-12 intro">
      Though I have little formal education in programming, I pursued my own education in Python after graduating from undergraduate. I primarily program in Python, but there are some samples of JavaScript and R also included below.
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 padded">
      <div class="tab-box">
        <div class="align-items-start">
          <div class="nav navbar-dark navbar-expand-lg flex-column me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-tab active" id="nav-all-tab" data-toggle="tab" href="#show-all" role="tab" aria-controls="show-all" aria-selected="true">Show All</a>
            <a class="nav-tab" id="nav-demo-tab" data-toggle="tab" href="#show-demo" role="tab" aria-controls="show-demo" aria-selected="false">Interactive Demos</span>
            {% for i in programs %}
              {% if i.demo %}
              <a class="sub nav-tab" id="nav-{{i|cut:" "}}-tab" data-toggle="tab" href="#show-{{i|cut:" "}}" role="tab" aria-controls="show-{{i|cut:" "}}" aria-selected="false">{{i}}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9 padded">
      <div class="tab-content tab-body" id="tabContent">
        <div class="tab-pane fade show active" id="show-all" role="tabpanel" aria-labelledby="show-all-tab">
          <div class="card-columns">
            {% for i in programs %}
            <a id="modal-trigger" data-program="{{i|cut:" "}}">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">
                    {{i.name}}
                  </div>
                  <div class="card-text">
                    {{i.description}}
                  </div>
                  {% if i.demo %}
                  <div id="demobtn" class="demo d-flex justify-content-center">
                    <button class="btn btn-custom-inv demobtn" data-program="{{i|cut:" "}}">JS Demo</button>
                  </div>
                  {% endif %}
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>

        <div class="tab-pane fade" id="show-demo" role="tabpanel" aria-labelledby="show-demo-tab">
          <div class="card-columns">
          {% for i in programs %}
            {% if i.demo %}
            <a id="modal-trigger" data-program="{{i|cut:" "}}">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">
                    {{i.name}}
                  </div>
                  <div class="card-text">
                    {{i.description}}
                  </div>
                  <div id="demobtn" class="demo d-flex justify-content-center">
                    <button class="btn btn-custom-inv demobtn" data-program="{{i|cut:" "}}">JS Demo</button>
                  </div>
                </div>
              </div>
            </a>
            {% endif %}
          {% endfor %}
          </div>
        </div>

        {% for i in programs %}
          {% if i.demo %}
          <div class="tab-pane fade" id="show-{{i|cut:" "}}" role="tabpanel" aria-labelledby="show-{{i|cut:" "}}-tab">
            {% include i.html %}
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  {% for i in programs %}
  <div id="modal-{{i|cut:" "}}" class="modal">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-lg-8 col-md-10">
        <div class="modal-content row">
          <span class="close">&times;</span>
          <div class="row justify-content-center">
            <div class="code-display title-display">
              {{i.name}}
            </div>
          </div>
          <div class="row">
            <div class="code-display console-display">
              {{i.code|print_file_content}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
