<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'css/cv.css' %}">{% endblock styles %}

{% block nav-cv %}active{% endblock %}

{% block title %} | Resume{% endblock %}

{% block banner %}
<div class="medium-banner-container">
  <img class="medium-banner" src="{% static 'media/banner_test.png' %}">
</div>
{% endblock banner %}

{% block banner-text %}
<div class="medium-banner-text">
  CV & Resume
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col section-head section-title">
      Kayko Ohkawa
      <div style="font-size:1.15rem; font-weight:normal">Graduate Student</div>
    </div>
  </div>
  <div class="row">
    <div class="section-body">
      I am a detail-oriented, self-driven student who thrives in fast-paced and dynamic environments. I like nothing more than learning new skills and being given the freedom to express a factual narrative through data visualization and analysis.
    </div>
  </div>

  <div class="row download-bar">
    <div class="col-lg-2"></div>
    <div class="col-12 col-lg-4">
      <a href="{% static 'files/OhkawaResume.pdf' %}" class="download-button" title="Download PDF" download>
        Download Resume PDF
      </a>
    </div>
    <div class="col-12 col-lg-4">
      <a href="{% static 'files/OhkawaCV.pdf' %}" class="download-button" title="Download PDF" download>
        Download CV PDF
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col section-head">Education</div>
  </div>
  <div class="row">
    <div class="section-body">
      <div class="row">
        <div class="col-4 cv-head">
          University of Pittsburgh
          <div class="cv-body">
            Pittsburgh, PA, USA
          </div>
        </div>
        <div class="col-8">
          <div class="cv-head">
            <a href="https://www.mqe.pitt.edu/" target="_blank">Master of Science in Quantitative Economics <i class="fa fa-link"></i></a>
          </div>
          <div class="cv-body">
            Expected: <i>April 2021</i>
            <br>Information
          </div>
          <div class="cv-head">
            Bachelor of Arts in Economics
          </div>
          <div class="cv-body">
            <i>August 2017</i>
            <br>Information
          </div>
          <div class="cv-head">
            Bachelor of Science in Geology
          </div>
          <div class="cv-body">
            <i>August 2017</i>
            <br>Information
          </div>
        </div>
      </div>
      <div class="row cv-set">
        <div class="col-4 cv-head">
          Sophia University 上智大学
          <div class="cv-body">
            Tokyo, Japan
          </div>
        </div>
        <div class="col-8">
          <div class="cv-head">
            Japanese Summer Intensive Language Program
          </div>
          <div class="cv-body">
            <i>Summer 2015</i>
            <br>Information
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col section-head"><a name="contact">Work Experience</a></div>
  </div>
  <div class="row">
    <div class="section-body">
      <div class="row">
        <div class="col-4 cv-head">
          University of Pittsburgh
          <div class="cv-body">
            Pittsburgh, PA, USA
          </div>
        </div>
        <div class="col-8">
          <div class="cv-head">
            Compliance Auditing Clerk
          </div>
          <div class="cv-body">
            <i>March 2019 - August 2020</i>
            <br>Information
          </div>
          <div class="cv-head">
            Shipping and Receiving Associate
          </div>
          <div class="cv-body">
            <i>January 2019 - March 2019</i>
            <br>Information
          </div>
        </div>
      </div>

      <div class="row cv-set">
        <div class="col-4 cv-head">
          <a href="https://www.growpittsburgh.org/about-us/locations/garden-dreams/" target="_blank">Garden Dreams <i class="fa fa-link"></i></a>
          <div class="cv-body">
            Pittsburgh, PA, USA
          </div>
        </div>
        <div class="col-8">
          <div class="cv-head">
            Production Team Member
          </div>
          <div class="cv-body">
            <i>March 2018 - June 2018</i>
            <br>Information
          </div>
        </div>
      </div>

      <div class="row cv-set">
        <div class="col-4 cv-head">
          University of Pittsburgh
          <div class="cv-body">
            Pittsburgh, PA, USA
          </div>
        </div>
        <div class="col-8">
          <div class="cv-head">
            Receptionist
          </div>
          <div class="cv-body">
            <i>September 2017 - March 2018</i>
            <br>Information
          </div>
        </div>
      </div>

      <div class="row cv-set">
        <div class="col-4 cv-head">
          Phipps Conservatory and Botanical Gardens
          <div class="cv-body">
            Pittsburgh, PA, USA
          </div>
        </div>
        <div class="col-8">
          <div class="cv-head">
            Guest Service Associate
          </div>
          <div class="cv-body">
            <i>October 2017 - January 2018</i>
            <br>Information
          </div>
        </div>
      </div>

      <div class="row cv-set">
        <div class="col-4 cv-head">
          Grow Pittsburgh
          <div class="cv-body">
            Pittsburgh, PA, USA
          </div>
        </div>
        <div class="col-8">
          <div class="cv-head">
            Urban Farm Apprentice
          </div>
          <div class="cv-body">
            <i>July 2017 - September 2018</i>
            <br>Information
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col section-head"><a name="contact">Skills</a></div>
  </div>
  <div class="row">
    <div class="section-body"  style="text-align:center;">
      <div class="row cv-head">
        <div class="col-4">
          Software
        </div>
        <div class="col-4">
          Programming
        </div>
        <div class="col-4">
          Other
        </div>
      </div>
      <div class="row cv-body">
        <div class="col-4">
          Microsoft Office Suite
          <br>Adobe Acrobat Pro
          <br>Adobe Photoshop
          <br>Blender
          <br>Stata
          <br>ArcGIS
        </div>
        <div class="col-4">
          <a style="color:grey;" href="https://github.com/halfriver" target="_blank">(check out my <u>GitHub</u>!)</a>
          <br>Python (pandas, numpy, Django)
          <br>R (dplyr)
          <br>SQL
          <br>HTML
          <br>CSS (Bootstrap)
          <br>JavaScript (jQuery)
        </div>
        <div class="col-4">
          Japanese (conversational)
          <br>Spanish (basic)
          <br>Chinese (basic)
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
