<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'css/cv.css' %}">{% endblock styles %}

{% block nav-cv %}active{% endblock %}

{% block title %} | Resume{% endblock %}

{% block banner %}
<div class="medium-banner-container">
  <img class="medium-banner" src="{% static 'media/banner_test.png' %}">
</div>
{% endblock banner %}

{% block banner-text %}
<div class="medium-banner-text">
  <h1>CV & Resume</h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col section-head">
      <h4>Kayko Ohkawa</h4>
      <h6 style="font-weight:400">Graduate Student</h6>
    </div>
  </div>
  <div class="row">
    <div class="section-body" style="width:80%;">
      <p>I am a detail-oriented, self-driven student who thrives in fast-paced and dynamic environments. I like nothing more than learning new skills and being given the freedom to express a factual narrative through data visualization and analysis.</p>
    </div>
  </div>

  <div class="row download-bar">
    <div class="col-lg-2"></div>
    <div class="col-12 col-lg-4">
      <a href="{% static 'files/OhkawaResume.pdf' %}" class="download-button" title="Download PDF" download>
        Download Resume PDF
      </a>
    </div>
    <div class="col-12 col-lg-4">
      <a href="{% static 'files/OhkawaCV.pdf' %}" class="download-button" title="Download PDF" download>
        Download CV PDF
      </a>
    </div>
  </div>

  <div class="row justify-content-center">
    <img class="divider" src="{% static 'media/divider.png' %}">
  </div>
  <div class="row">
    <div class="col section-head"><h5 class="cv-title">Education</h5></div>
  </div>
  <div class="row section-body">
    <div class="col-4 cv-head">
      University of Pittsburgh
      <div class="cv-body">
        Pittsburgh, PA, USA
      </div>
    </div>
    <div class="col-8">
      <div class="cv-head">
        <a href="https://www.mqe.pitt.edu/" target="_blank">Master of Science in Quantitative Economics <i class="fa fa-link"></i></a>
      </div>
      <div class="cv-body">
        Expected: <i>April 2021</i>
        <br><b>Coursework</b>:
        <div class="row">
          <div class="col-md-6">
            <ul>
              <li>Individuals, Firms, and Markets</li>
              <li>Incentives and Information</li>
              <li>Quantitative Methods</li>
              <li>Economic Inference from Data</li>
              <li>Communicating Economic Insights</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li>Global Economics and Finance</li>
              <li>Applications of Economic Analysis Techniques</li>
              <li>Evidence-based Analysis in Labor, Public, and Health Economics</li>
              <li>Big Data and Forecasting</li>
            </ul>
          </div>
        </div>
        <b>Capstone Project</b>: <i>Ongoing - Developing an empirical model for setting optimal salaries for minor league hockey players with the Pittsburgh Penguins Hockey Team.</i>
      </div>
      <div class="cv-head">
        Bachelor of Arts in Economics
      </div>
      <div class="cv-body">
        <i>August 2017</i>
        <br>Certificates in Asian Studies and Global Studies
        <br><b>Relevant Coursework</b>:
        <ul>
          <li>Special Topic Seminar: Sustainable Agriculture</li>
          <li>GIS in the Public Service</li>
        </ul>
        <b>Campus Involvement</b>:
        <ul>
          <li>Vice President - Student Service Alliance</li>
          <li>Treasurer - Japanese Cultural Association</li>
        </ul>
      </div>
      <div class="cv-head">
        Bachelor of Science in Geology
      </div>
      <div class="cv-body">
        <i>August 2017</i>
        <br><b>Relevant Coursework</b>:
        <ul>
          <li>Environmental Ethics, Science, and Public Policy</li>
          <li>Field Camp at Southern Utah University</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row cv-set section-body">
    <div class="col-4 cv-head">
      Sophia University 上智大学
      <div class="cv-body">
        Tokyo, Japan
      </div>
    </div>
    <div class="col-8">
      <div class="cv-head">
        Summer Intensive Japanese Language Program
      </div>
      <div class="cv-body">
        <i>Summer 2015</i>
        <ul>
          <li>Received the Japanese Nationality Room Scholarship to study abroad for the summer semester.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <img class="divider" src="{% static 'media/divider.png' %}">
  </div>
  <div class="row">
    <div class="col section-head"><h5 class="cv-title">Skills</h5></div>
  </div>
  <div class="row section-body justify-content-center" style="text-align:center;">
    <div class="col-md-4 cv-body">
      <div class="cv-head">Software</div>
      Microsoft Office Suite
      <br>Adobe Acrobat Pro
      <br>Adobe Photoshop
      <br>Blender
      <br>Stata
      <br>ArcGIS
    </div>
    <div class="col-md-4 cv-body">
      <div class="cv-head">Programming</div>
      <a style="color:#adad9a; font-weight:bolder;" href="https://github.com/halfriver" target="_blank">(check out my <u>GitHub</u>!)</a>
      <br>Python (pandas, numpy, Django)
      <br>R
      <br>SQL
      <br>HTML
      <br>CSS (Bootstrap)
      <br>JavaScript (jQuery)
    </div>
    <div class="col-md-4 cv-body">
      <div class="cv-head">Other</div>
      Japanese (conversational)
      <br>Data visualization
      <br>Analytical thinking
      <br>Communication
      <br>Multitasking
      <br>Customer service
    </div>
  </div>

  <div class="row justify-content-center">
    <img class="divider" src="{% static 'media/divider.png' %}">
  </div>
  <div class="row">
    <div class="col section-head"><h5 class="cv-title">Professional Experience and Research</h5></div>
  </div>
  <div class="row section-body">
    <div class="col-4 cv-head">
      University of Pittsburgh
      <div class="cv-body">
        Pittsburgh, PA, USA
      </div>
    </div>
    <div class="col-8">
      <div class="cv-head">
        Compliance Auditing Clerk
      </div>
      <div class="cv-body">
        <i>March 2019 - August 2020</i>
        <ul>
          <li>Audited internal expense reports for compliance with university policy and federal tax guidelines</li>
          <li>Used Concur and Panther Express for managing campus-wide expense reports and purchases</li>
          <li>Maintained utmost discretion when dealing with sensitive financial information</li>
        </ul>
      </div>
      <div class="cv-head">
        Shipping and Receiving Associate
      </div>
      <div class="cv-body">
        <i>January 2019 - March 2019</i>
        <ul>
          <li>Processed incoming products and managed storage of backstock</li>
          <li>Assured items were undamaged, accounted for, and properly priced for the storefront </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row cv-set section-body">
    <div class="col-4 cv-head">
      <a href="https://www.growpittsburgh.org/about-us/locations/garden-dreams/" target="_blank">Garden Dreams <i class="fa fa-link"></i></a>
      <div class="cv-body">
        Pittsburgh, PA, USA
      </div>
    </div>
    <div class="col-8">
      <div class="cv-head">
        Nursery Production Team Member
      </div>
      <div class="cv-body">
        <i>March 2018 - June 2018</i>
        <ul>
          <li>Assisted with the day-to-day operations of the organic plant nursery</li>
          <li>Seeded, watered, repotted, and maintained optimal growing conditions for seedlings</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row cv-set section-body">
    <div class="col-4 cv-head">
      University of Pittsburgh
      <div class="cv-body">
        Pittsburgh, PA, USA
      </div>
    </div>
    <div class="col-8">
      <div class="cv-head">
        Receptionist
      </div>
      <div class="cv-body">
        <i>September 2017 - March 2018</i>
        <ul>
          <li>Directed incoming calls for the College of General Studies and School of Nursing</li>
          <li>Managed appointments, student locker assignments, and various other office tasks</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row cv-set section-body">
    <div class="col-4 cv-head">
      Phipps Conservatory and Botanical Gardens
      <div class="cv-body">
        Pittsburgh, PA, USA
      </div>
    </div>
    <div class="col-8">
      <div class="cv-head">
        Guest Service Associate
      </div>
      <div class="cv-body">
        <i>October 2017 - January 2018</i>
        <ul>
          <li>Worked in the conservatory and its gift shop to help manage winter season crowds</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row cv-set section-body">
    <div class="col-4 cv-head">
      Grow Pittsburgh
      <div class="cv-body">
        Pittsburgh, PA, USA
      </div>
    </div>
    <div class="col-8">
      <div class="cv-head">
        Urban Farm Apprentice
      </div>
      <div class="cv-body">
        <i>July 2017 - September 2018</i>
        <ul>
          <li>Worked at a small-scale urban farm in Braddock, PA</li>
          <li>•	Toured a number of local businesses to learn about the food system and various sustainability initiatives in Pittsburgh and surrounding areas</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row cv-set section-body">
    <div class="col-4 cv-head">
      University of Pittsburgh
      <div class="cv-body">
        Pittsburgh, PA, USA
      </div>
    </div>
    <div class="col-8">
      <div class="cv-head">
        Researcher, Impact of Climate Variability on Crop Yield
      </div>
      <div class="cv-body">
        <i>Fellowship, University of Pittsburgh Honor’s College</i>
        <br><i>Spring 2017</i>
        <ul>
          <li>Carried out an independent research project on global climate variability and agriculture</li>
          <li>Cleaned and combined datasets from FAO and other UN-affiliated databases using Python</li>
          <li>Analyzed the data using Stata and summarized with visualizations using ArcGIS</li>
        </ul>
      </div>
      <div class="cv-head">
        Tutor
      </div>
      <div class="cv-body">
        <i>Student Support Services for Student-Athletes</i>
        <br><i>Fall 2015 - Spring 2017</i>
        <ul>
          <li>Tutored student-athletes in introductory and intermediate economics, political science, and geology</li>
        </ul>
      </div>
      <div class="cv-head">
        Undergraduate Teaching Assistant
      </div>
      <div class="cv-body">
        <i>GEOL 0055 Physical Geology Lab</i>
        <br><i>Fall 2016</i>
        <ul>
          <li>Assisted the professor in introducing basic concepts in the field of geology to freshman and sophomore students</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <img class="divider" src="{% static 'media/divider-end.png' %}">
  </div>
</div>
{% endblock %}
